/* Animación de desvanecimiento */
.fade-enter, .fade-exit {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Estilos existentes */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(242, 244, 243, 1); /* Color de fondo exacto */
    color: #333;
}

.image-container {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(242, 244, 243, 1); /* Color de fondo exacto */
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(242, 244, 243, 0.8); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

h1 {
    font-size: 4em;
    margin: 0;
    padding-bottom: 20px;
}

.smaller-title {
    font-size: 2.5em; /* Ajuste para el título más pequeño en "¿Quiénes somos?" */
}

p {
    font-size: 1.5em;
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: rgba(242, 244, 243, 1);
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.button:hover {
    background-color: rgba(242, 244, 243, 1);
    color: #333;
}

.text-container .button:last-of-type {
    margin-top: 20px;
}

/* Ajustes responsivos */
@media (min-width: 768px) {
    body {
        flex-direction: row;
    }

    .image-container {
        flex: 1.5;
        border-radius: 10px 0 0 10px;
    }

    .text-container {
        border-radius: 0 10px 10px 0;
    }

    h1 {
        font-size: 6em;
    }

    .smaller-title {
        font-size: 4em;
    }
}

/* Mostrar menos imagen en dispositivos móviles */
@media (max-width: 767px) {
    .image-container {
        height: 10vh; /* Ajusta esta altura para mostrar menos imagen en móviles */
        margin: 0; /* Elimina cualquier margen */
        padding: 0; /* Elimina cualquier padding */
    }

    .image-container img {
        height: 100%; /* Asegura que la imagen ocupe todo el contenedor */
        object-fit: cover;
    }
}
