/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(242, 244, 243, 1); /* Color de fondo exacto */
    color: #333;
}

.image-container {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(242, 244, 243, 1); /* Color de fondo exacto */
    margin: 0;
    padding: 0;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(242, 244, 243, 0.8); /* Fondo semitransparente */
    padding: 20px;
    margin-top: 40px;
    border-radius: 0 0 10px 10px;
}

ul {
    list-style-type: none; /* Estilo de lista con puntos */
    text-align: justify;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

h1 {
    font-size: 4em;
    margin: 0;
    padding-bottom: 20px;
}

.smaller-title {
    font-size: 2.1em; /* Ajuste para el título más pequeño en "¿Quiénes somos?" */
}

p {
    font-size: 1.5em;
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: rgba(242, 244, 243, 1);
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
    width: 200px; /* Asegura que todos los botones tengan el mismo tamaño */
    text-align: center;
}

.button:hover {
    background-color: rgba(242, 244, 243, 1);
    color: #333;
}

.text-container .button:last-of-type {
    margin-top: 20px;
}

p {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: justify; /* Justifica el texto */
}

/* Estilos para las nuevas imágenes */
.small-image-container {
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    justify-content: center; /* Centra las imágenes horizontalmente dentro del contenedor */
    margin: 20px 0;
}

.image-item {
    margin: 0 15px; /* Espacio entre las imágenes */
}

.small-image {
    width: 150px; /* Establece un ancho fijo para las imágenes */
    height: 150px; /* Establece una altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border-radius: 10px;
}

.image-caption {
    font-size: 0.8em; /* Tamaño de fuente pequeño */
    color: #333; /* Color de texto */
    margin-top: 5px; /* Espacio encima del nombre */
    text-align: center; /* Centra el texto debajo de la imagen */
}

.bio-text {
    font-size: 0.9em; /* Tamaño de fuente pequeño */
    color: #666; /* Color de texto */
    margin-top: 5px; /* Espacio encima del texto de biografía */
    text-align: center; /* Centra el texto debajo de la imagen */
    padding: 0 10px; /* Espacio de padding para el texto */
}

/* Ajustes generales */
.whatsapp-container {
    margin-top: 40px; /* Espacio adicional entre los botones y el logo de WhatsApp */
    display: flex;
    justify-content: center;
}

.whatsapp-logo {
    width: 50px;
    height: auto;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    .image-container {
        position: fixed;
        top: 0;
        width: 100%;
        height: 30vh; /* Ajusta esta altura para mostrar la imagen en móviles */
        margin: 0; /* Elimina cualquier margen */
        padding: 0; /* Elimina cualquier padding */
        overflow: hidden; /* Asegúrate de que la imagen no se desborde */
        z-index: 1; /* Asegura que la imagen esté por encima del resto del contenido */
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    }

    .text-container {
        padding: 20px; /* Ajuste de padding para móviles, aplica a todos los lados */
        margin-top: 30vh; /* Espacio adicional para que el contenido no se superponga con la imagen */
        z-index: 2; /* Asegura que el texto esté por encima de la imagen */
        background-color: rgba(242, 244, 243, 0.8); /* Fondo semitransparente */
    }

    .text-container p {
        margin: 10px; /* Margen igual para todos los lados */
        text-align: justify; /* Justifica el texto */
    }

    .whatsapp-container {
        position: relative;
        margin-top: 20px; /* Espacio adicional entre los botones y el logo de WhatsApp */
        display: flex;
        justify-content: center;
    }

    .whatsapp-logo {
        width: 50px; /* Ajusta el tamaño del logo de WhatsApp */
        height: auto;
    }
}


/* Estilos específicos para dispositivos de escritorio */
@media (min-width: 768px) {
    body {
        flex-direction: row;
    }

    .image-container {
        flex: 1.5;
        border-radius: 10px 0 0 10px;
    }

    .text-container {
        border-radius: 0 10px 10px 0;
    }

    h1 {
        font-size: 6em;
    }

    .smaller-title {
        font-size: 2.7em;
    }
}

