<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classbook - Cómo funciona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="fade-enter">
    <div class="image-container">
        <img src="{{ url_for('static', filename='imagen.jpg') }}" alt="Imagen">
    </div>
    <div class="text-container como-funciona-text">
        <h1 class="smaller-title">¿Cómo agendo una clase?</h1>
        <ul>
            <li>A continuación, encontrarás un formulario que deberás completar con toda la información necesaria para coordinar la clase que buscas. Aquí solicitarás el día, el horario, la modalidad, entre otros.</li>
            <li>Una vez hecho esto, deberás pagar $25.000, lo cual te asegurará una clase de 60 minutos con un profesor capacitado, que se adapte a los horarios que buscas. Después de pagar, el profesor te contactará para confirmar la clase y acordar los últimos detalles que pudieran faltar.</li>
        </ul>
        <a href="https://forms.gle/MkXcD512GDcd9ktJ6" class="button" style="margin-top: auto;">Agenda tu clase aquí</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
