<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classbook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="fade-enter">
    <div class="image-container">
        <img src="{{ url_for('static', filename='imagen.jpg') }}" alt="Imagen">
    </div>
    <div class="text-container">
        <h1>Classbook.</h1>
        <a href="https://forms.gle/MkXcD512GDcd9ktJ6" class="button" target="_blank">Agenda tu clase aquí</a>
        <a href="/quienes-somos" class="button">¿Quiénes somos?</a>
        <a href="/como-funciona" class="button">¿Cómo funciona?</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

