<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classbook - ¿Quiénes somos?</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body class="fade-enter">
    <div class="image-container">
        <img src="static/imagen.jpg" alt="Imagen">
    </div>
    <div class="text-container">
        <h1 class="smaller-title">¿Quiénes somos?</h1>
        <ul>
            <li>En Classbook tenemos los mejores profesores de matemáticas para brindarte apoyo en tus evaluaciones.</li>
            <li>Ofrecemos clases desde 4to básico hasta 4to medio, con preparación PAES.</li>
            <li>Todos los profesores son alumnos de 4to y 5to año de Ingeniería UC.</li>
        </ul>
        <a href="/" class="button" style="margin-top: auto;">Volver a la página inicial</a>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
