<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classbook - ¿Quiénes somos?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="fade-enter">
    <div class="image-container">
        <img src="{{ url_for('static', filename='imagen.jpg') }}" alt="Imagen">
    </div>
    <div class="text-container">
        <h1 class="smaller-title">¿Quiénes somos?</h1>
        <ul>
            <li>¡Hola! Somos <strong>José Ignacio Duarte</strong> y <strong>Nicolás Matamala</strong>, estudiantes de cuarto año de Ingeniería UC, con años de experiencia en clases particulares.</li>
            <li>Hemos notado que la demanda por clases ha aumentado considerablemente en el último tiempo, y además, conocemos gente de nuestra edad a la que le motiva enseñar como a nosotros. Así nace <strong>Classbook</strong>, una herramienta que permite juntar a papás que buscan clases para sus hijos con universitarios dispuestos a enseñar.</li>
        </ul>
        <div class="small-image-container">
            <div class="image-item">
                <img src="{{ url_for('static', filename='jose.jpg') }}" alt="José Ignacio Duarte" class="small-image">
                <p class="image-caption"><strong>José Ignacio Duarte</strong></p>
                
            </div>
            <div class="image-item">
                <img src="{{ url_for('static', filename='nico.jpg') }}" alt="Nicolás Matamala" class="small-image">
                <p class="image-caption"><strong>Nicolás Matamala</strong></p>
            
            </div>
        </div>
        <a href="/" class="button" style="margin-top: auto;">Volver al inicio</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

