<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classbook - ¿Quiénes somos?</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body class="fade-enter">
    <div class="image-container">
        <img src="static/imagen.jpg" alt="Imagen">
    </div>
    <div class="text-container">
        <h1 class="smaller-title">¿Quiénes somos?</h1>
        <ul>
            <li>¡Hola! Somos José Ignacio Duarte y Nicolás Matamala, estudiantes de cuarto año de Ingeniería UC, con años de experiencia en clases particulares.</li>
            <li>Hemos notado que la demanda por clases ha aumentado considerablemente en el último tiempo, y además, conocemos gente de nuestra edad a la que le motiva enseñar como a nosotros. Así nace Classbook, una herramienta que permite juntar a papás que buscan clases para sus hijos con universitarios dispuestos enseñar.</li>
        </ul>
        <div class="small-image-container">
            <img src="static/jose.jpg" alt="Imagen 3" class="small-image">
            <img src="static/nico.jpg" alt="Imagen 2" class="small-image">
        </div>
        <h1 class="smaller-title">¿Cómo agendo una clase?</h1>
        <ul>
            <li>A continuación, encontrarás un formulario que deberás completar con toda la información necesaria para coordinar la clase que buscas. Aquí solicitarás el día, el horario, la modalidad, entre otros.</li>
            <li>Una vez hecho esto, deberás pagar $25.000, lo cual te asegurará una clase de 60 minutos con un profesor capacitado, que se adapte a los horarios que buscas. Después de pagar, el profesor te contactará para confirmar la clase y acordar los últimos detalles que pudieran faltar.</li>
        </ul>
        <a href="https://forms.gle/MkXcD512GDcd9ktJ6" class="button" style="margin-top: auto;">Agenda tu clase aquí</a>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
